<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 color="E05164">Bem vindo a rifa da copa</h1>
    <h1>ROTARACT Lages Araucaria</h1>
    <h2>{{ variavel }}</h2>
    <form action="{{ url_for('homepage') }}" method="post">
        <label for="">Número:</label>
        <input type="number" name="numero" placeholder="Insira o número da venda">
        <button>Consultar</button>
    </form>
    <h2>Clique para ver números disponíveis:</h2>
    <form action="{{ url_for('livres') }}" method="post">
        <button>Consultar</button>
    </form>
</body>
</html>